{% extends "admin/layout.html" %} {% block content %}
  <!-- Content Header (Page header) -->
  <input id="role" value="{{role}}" hidden>
  <input id="param" value="4" hidden>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>List Pengaduan (Pesan Close)</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Pengaduan</a></li>
            <li class="breadcrumb-item active">List Pengaduan</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">      <!-- /.col -->
      <div class="col-md-12">
        <div class="card card-danger card-outline">
          <!-- /.card-header -->
          <div class="card-body p-1">
            <div class="mailbox-controls">
              <!-- Check all button -->

              <!-- /.float-right -->
            </div>
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover" id="list-aduan-4">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Status</th>
                      <th>Pelapor</th>
                      <th>Judul</th>
                      <th>Lokasi</th>
                      <th>Tanggal</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <!-- <tbody>
                <tr>
                  <td>
                    <div class="icheck-primary">
                      <input type="checkbox" value="" id="check1">
                      <label for="check1"></label>
                    </div>
                  </td>
                  <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                  <td class="mailbox-name"><a href="read-mail.html">Kim Kurniawan</a></td>
                  <td class="mailbox-subject"><b>Lorem ipsum</b> - Trying to find a solution to this problem...
                  </td>
                  <td class="mailbox-attachment"></td>
                  <td class="mailbox-date">5 mins ago</td>
                </tr>
                <tr>
                  <td>
                    <div class="icheck-primary">
                      <input type="checkbox" value="" id="check2">
                      <label for="check2"></label>
                    </div>
                  </td>
                  <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
                  <td class="mailbox-name"><a href="read-mail.html">Gian Zola</a></td>
                  <td class="mailbox-subject"><b>Dolor sit amet</b> - Trying to find a solution to this problem...
                  </td>
                  <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                  <td class="mailbox-date">28 mins ago</td>
                </tr>
                <tr>
                  <td>
                    <div class="icheck-primary">
                      <input type="checkbox" value="" id="check3">
                      <label for="check3"></label>
                    </div>
                  </td>
                  <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
                  <td class="mailbox-name"><a href="read-mail.html">Wander Luiz</a></td>
                  <td class="mailbox-subject"><b>Consectetuer adipiscing elit</b> - Trying to find a solution to this problem...
                  </td>
                  <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
                  <td class="mailbox-date">11 hours ago</td>
                </tr>









                </tbody> -->
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->

        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal-default">
      <div class="modal-dialog modal-lg card card-danger card-outline">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title"></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <input id="id" hidden>
          <div class="modal-body">
            <div class="timeline timeline-inverse"  id="timeline">
              
            </div>
            <div class="card direct-chat direct-chat-primary">
              <div class="card-body" style="display: block;">
                  <input id="id-parent" hidden>
                  <input id="id-pelapor" hidden>
                  <input id="id-admin" hidden>
                  <input id="nama-pelapor" hidden>
                  <input id="date-laporan" hidden>
                  <input id="isi-laporan" hidden>
                  <input id="status-laporan" hidden>
                  <!-- <div class="direct-chat-messages" id="percakapan" style="height: 400px;">

                  </div> -->
                </div>
                <div class="card-footer" style="display: block;">
                  <form action="#" method="post">
                    <div class="input-group">
                      <input type="text" id="pesan-balasan" name="message" placeholder="Balasan ..." class="form-control">
                      <span class="input-group-append">
                        <button type="button" class="btn btn-primary" id="kirim-balasan">Kirim</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>

          </div>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

{% endblock %}
{% block js %}
<script type="text/javascript" src="{{base_url}}assets/js/action/listaduan_user.js"></script>
{% endblock %}
